$green: #16a085;
$grey: #5a6576;
$other-grey: e7ecee;
$blue: #058cc5;
$red: #d2527f;
$light-blue: #3498bd;

.gren{
	background-color: $green;	
}

.green-text{
	color: $green;
}

.blue{

	background-color: $blue;
}

.blue-text{
	color: $blue;
}

.red{
	background-color: $red;
}

.red-text{
	color: $red;	
}

.grey{
	background-color: $grey;
}

.grey-text{
	color: $grey;
}

.light-blue{
	background-color: $light-blue;	

}

.light-blue-text{
	color: $light-blue;
}

.other-gray{
	background-color: $other-gray;
}

.other-gray-text{
	color: $other-grey;
}




